.form-control {
  background: none;
  border-color: #ff0100;
  color: #ff0100;
}

.form-control:focus {
  background: none;
  color: #ff0100;
  border-color: #f6f6f6;
}

#sign-in {
  background-color: #ff0100;
}

#sign-in:hover {
  background-color: #ac0000;
}
