#root {
    margin: 0 auto;
    padding: 0.8rem;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--background);
    color: var(--primary);
  }
  body > #root {
    height: 100vh;
  }
  