#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  background-color: #15121e;
  color: #ff0000;
}
body > #root {
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  letter-spacing: 2%;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-weight: medium;
  font-size: 24px;
  letter-spacing: 2%;
}

p {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2%;
}

.small-text {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 2%;
}

.pre-text {
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 2%;
}
