body{
    margin: 0;
}
:root {
    --background: #212121;
    --text: #f7f7f7;
    --primary: #ff0100;
    --secondary: #212121; 
    --terciary: #f7f7f7;
    --valid: #3ccf4e;
    --invalid: #e30815;
    --accent : #212121;
    --hover : #737373;
    --box-shadow : inset 3.77687px 11.3306px 37.7687px rgba(151, 71, 255, 0.4);

  }
 