:root {
  --background: #F7F7F7;
  --background-personajes: rgba(255, 255, 255, 0.2);
  --border-personajes: 0.88px solid rgba(255, 255, 255, 0.5);
  --text: #212121;
  --primary: #FF0100;
  --secondary: #F6F6F6;
  --terciary: #313131;
  --valid: #3CCF4E;
  --invalid: #E30815;
  --accent: #E7E7E7;
  --hover: #D00000;
  --box-shadow: inset 3.77687px 11.3306px 37.7687px rgba(151, 71, 255, 0.4);
  --border-image: gray;
  --valoracion: yellow;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 0;
  background-color: var(--background);
  color: var(--primary);
}

.App {
  height: 100vh;
}

[data-theme='dark'] {
  --text: #F7F7F7;
  --background: #15121E;
}

.btn-danger {
  background-color: var(--primary);
}

.btn-danger:hover {
  background-color: var(--hover);
}

.zoom-animation {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.zoom-animation:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

input {
  color: var(--secondary) !important;
}

.MuiSvgIcon-root {
  color: var(--primary);
}

.MuiFormControlLabel-root {
  color: var(--secondary);
}

.MuiFormLabel-root {
  color: var(--primary) !important;
}

.MuiInputBase-input {
  height: 2em !important;
}

fieldset {
  border-radius: 16px !important;
  border-color: var(--primary) !important;
}

h1,
h2,
h3,
h4,
button,
.MuiTypography-root,
.MuiFormLabel-root {
  font-weight: bold !important;
  letter-spacing: 2% !important;
}

button {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  height: 3.2em !important;
}

button:hover {
  background-color: var(--hover) !important;
}

a {
  color: var(--secondary) !important;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-weight: medium;
  font-size: 24px;
  letter-spacing: 2%;
}

p {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2%;
}

.small-text {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 2%;
}

.pre-text {
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 2%;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.no-underline {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}